*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
.container{
   width: 80%;
   margin: 0 auto;
}
.row{
   display: flex;
   /* flex-direction: row; */
   flex-wrap: wrap;
}
/* Navbar */
.navbar{
   border: 1px solid red ;
   /* height: 100px; */
   /* width: 48%; */
   align-items: center;
}
.logo{
   border: 1px solid red;
   width: 66.66%;
}
.nav_links{
   border: 1px solid red;
   /* width: 33.33%; */
   /* justify-content: space-between; */
   gap: 20px;
   align-items: center;
}
.nav_links button{
   background-color: #1da1f2;
   color: white;
   border: none;
   /* width: 50%; */
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 10px 10px;
   border-radius: 5px;
}
.home, .pricing, .faq{
   /* border: 1px solid red ; */
}
.hamburger{
   display: none;
}
/* Header */
.header{
   border: 1px solid red;
   /* height: 100vh; */
}
.hero{

}
.hero_details{
   /* border: 1px solid red; */
   /* width: 60%; */
   /* height: 100px; */
}
.hero_image{
   border: 1px solid red;
   /* width: 40%; */
   /* height: 100px; */
}
.hero_image img{
   width: 100%;
   height: 100%;
}
.avatar_2{
   position: relative;
   right: 25px;
}
.avatar_3{
   position: relative;
   right: 50px;
}
.avatar_4{
   position: relative;
   right: 75px;
}
.avatar_5{
   position: relative;
   right: 100px;
}
.avatar_6{
   position: relative;
   right: 125px;
}
.avatar_7{
   position: relative;
   right: 150px;
}
.avatar_8{
   position: relative;
   right: 175px;
}
.avatar_9{
   position: relative;
   right: 200px;
}
.container{
   border: 1px solid blue;
   width: 80%;
   margin: 0 auto;
   height: fit-content ;
}
.features{
   width: 100%;
   border: 1px solid red;
}
.features p{
   width: 50%;
   border: 1px solid red;
}
.div2{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
  
}

.mode{
   border: 1px solid black;
   width: 45%;
}
/* Desktop Devices Large,XLarge,XXLarge */
 /* Large Devices */
 @media(min-width:992px) {
   .col-lg-1{
       width: 8.33%;
    }
    .col-lg-2{ 
       width: 16.66%;
    }
    .col-lg-3{
       width: 25%;
    }
    .col-lg-4{
       width: 33.33%;
    }
    .col-lg-5{
      width:41.66% ; 
    }
    .col-lg-6{
       width: 50%;
    }
    .col-lg-7{
       width: 58.33%;
    }
    .col-lg-8{
       width: 66.66%;
    }
    .col-lg-9{
       width: 75%;
    }
    .col-lg-10{
       width: 83.33%;
    }
    .col-lg-11{
       width: 91.66%;
    }
    .col-lg-12{
       width: 100%;
    } 
} 
/* Tablet Devices  - Small and medium*/ 
/* Medium  Devices */
@media(max-width:991px){
   .hero_details{
      /* width: 100%; */
     order: 1;
   }
   .container{
       width: 90%;
   }
   .hamburger{
      display: none;
   }
   .nav_links{
      width: 75%;
      justify-content: space-between;
      gap: unset;
   }
   .mode{
      border: 1px solid black;
      width: 100%;
   }
    .col-md-1{
        width: 8.33%;
     }
     .col-md-2{
        width: 16.66%;
     }
     .col-md-3{
        width: 25%;
     }
     .col-md-4{
        width: 33.33%;
     }
     .col-md-5{
       width:41.66% ; 
     }
     .col-md-6{
        width: 50%;
     }
     .col-md-7{
        width: 58.33%;
     }
     .col-md-8{
        width: 66.66%;
     }
     .col-md-9{
        width: 75%;
     }
     .col-md-10{
        width: 83.33%;
     }
     .col-md-11{
        width: 91.66%;
     }
     .col-md-12{
        width: 100%;
     }
}
/* small Devices */
@media(min-width:576px) and (max-width:767px){
    .myDiv{
        /* justify-content: center; */
        /* gap: 20px; */
    }
    /* .myDiv p{
        width: 40%;
    } */
    .nav_links{
      display: none;
    }
    .hamburger{
      display: block;
    }
    .navbar{
      justify-content: space-between;
    }
    .mode{
      border: 1px solid black;
      width: 100%;
   }
    .col-sm-1{
        width: 8.33%;
     }
     .col-sm-2{
        width: 16.66%;
     }
     .col-sm-3{
        width: 25%;
     }
     .col-sm-4{
        width: 33.33%;
     }
     .col-sm-5{
       width:41.66% ; 
     }
     .col-sm-6{
        width: 50%;
     }
     .col-sm-7{
        width: 58.33%;
     }
     .col-sm-8{
        width: 66.66%;
     }
     .col-sm-9{
        width: 75%;
     }
     .col-sm-10{
        width: 83.33%;
     }
     .col-sm-11{
        width: 91.66%;
     }
     .col-sm-12{
        width: 100%;
     }
}

/* Mobile Devices - Extra Small  */
/* Extra Small Devices  */
@media(max-width:575px){
 
    .nav_links{
      display: none;
    }
    .hamburger{
      display: block;
    }
    .navbar{
      justify-content: space-between;
    }
    .mode{
      border: 1px solid black;
      width: 100%;
   }
    .col-1{
      width: 8.33%;
   }
   .col-2{
      width: 16.66%;
   }
   .col-3{
      width: 25%;
   }
   .col-4{
      width: 33.33%;
   }
   .col-5{
     width:41.66% ; 
   }
   .col-6{
      width: 50%;
   }
   .col-7{
      width: 58.33%;
   }
   .col-8{
      width: 66.66%;
   }
   .col-9{
      width: 75%;
   }
   .col-10{
      width: 83.33%;
   }
   .col-11{
      width: 91.66%;
   }
   .col-12{
      width: 100%;
   }
  
}

